ATTENDANCE_LOGIN_URL=https://gw.cubox.ai/#/login
ATTENDANCE_HOME_URL=https://gw.cubox.ai/#/
ATTENDANCE_WEEKLY_PAGE_URL=https://gw.cubox.ai/#/HP/HPD0220/HPD0220
ATTENDANCE_WEEKLY_DATA_URL=https://gw.cubox.ai/human/hrd0410/selectTab2
ATTENDANCE_TODAY_DATA_URL=https://gw.cubox.ai/human/common/judgeTimeManagement/getTodayComeLeaveInfo

ATTENDANCE_USERNAME=your.id
ATTENDANCE_PASSWORD=change-me

ATTENDANCE_USERNAME_FIELD_ID=reqLoginId
ATTENDANCE_PASSWORD_FIELD_ID=reqLoginPw
ATTENDANCE_NEXT_BUTTON_XPATH=//*[@id="wrap"]/div[1]/div[2]/div/div[2]/div[4]/div[1]/div/button
ATTENDANCE_SUBMIT_BUTTON_XPATH=//*[@id="wrap"]/div[1]/div[2]/div/div[2]/div[4]/div[1]/div/button

ATTENDANCE_WORK_IN_XPATH=//*[@id="container"]/ul/li[1]
ATTENDANCE_WORK_OUT_XPATH=//*[@id="container"]/ul/li[2]
ATTENDANCE_CONFIRM_BUTTON_XPATH=/html/body/div[3]/div[4]/div[2]/div/div[3]/div[2]/button

ATTENDANCE_DEFAULT_START=0900
ATTENDANCE_DEFAULT_END=1800
ATTENDANCE_WEEKDAY_TARGET_MINUTES=540
ATTENDANCE_HALFDAY_TARGET_MINUTES=240
ATTENDANCE_HEADLESS=false
